<div class="well well-small">
    Asked by <%= question.user.name %> <%= question.updated_at.to_formatted_s(:long) %>
    <span class="label"><%= question.topic %></span>
      <table class="table">
      <tr>
        <td><%= question.details %></td>
      </tr>
      <tr>
        <td>
          <span class="label">
            <%= pluralize question.reputation_for(:votes).to_i, "vote" %>
          </span>
          <% if current_user && !Question.evaluated_by(:votes, current_user).include?(question) %>
          | <%= link_to "up", vote_question_path(question, type: "up"), method: "post" %>
          | <%= link_to "down", vote_question_path(question, type: "down"), method: "post" %>
        </td>
      </tr>
      <% end %>
    </table>
  <% question.answers.each do |answer| %>
  <div class="well well-small">
    Answered by <%= link_to answer.advisor.name, answer.advisor %>
    <% unless !answer.advisor.avatar? %>
      <div class="media">
        <a class="pull-left">
          <%= image_tag answer.advisor.avatar.url(:thumb) %>
        </a>
    <% end %>
    <div class="media-body">
      <table class="table">
        <tr>
          <td><%= answer.answer %></td>
        </tr>
        <tr>
          <td>
            <span class="label"><%= pluralize answer.reputation_for(:votes).to_i, "vote" %></span>
            <% if current_user && !Answer.evaluated_by(:votes, current_user).include?(answer) %>
            | <%= link_to "up", vote_question_answer_path(question, answer, type: "up"), method: "post" %>
            | <%= link_to "down", vote_question_answer_path(question,answer, type: "down"), method: "post" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </div>
  <% end %>
  <% unless !current_advisor %>
    <%= link_to "Answer question", question, class: "btn btn-small btn-success" %>
  <% end %>
</div>