<div class="well well-small">
  Answered by <%= link_to answer.advisor.name, answer.advisor %>
  <table class="table">
    <tr>
      <td><%= answer.answer %></td>
    </tr>
    <tr>
      | <%= pluralize answer.reputation_for(:votes).to_i, "vote" %>
      <% if current_user && !current_user.voted_for?(answer) %>
      | <%= link_to "up", vote_question_answer_path(@question, answer, type: "up"), method: "post" %>
      | <%= link_to "down", vote_question_answer_path(@question,answer, type: "down"), method: "post" %>
      <% end %>
    </tr>
  </table>
</div>