<%= simple_form_for ([@advisor, @rating]) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :trust, :collection => 1..5, :as => :radio, item_wrapper_class: 'inline' %>
<%= f.input :communication, :collection => 1..5, :as => :radio, item_wrapper_class: 'inline' %>
<%= f.input :expertise, :collection => 1..5, :as => :radio, item_wrapper_class: 'inline' %>
<%= f.button :submit %>

<% end %>
