<p id="notice"><%= notice %></p>

<p>
  <b>Trust:</b>
  <%= @rating.trust %>
</p>

<p>
  <b>Communication:</b>
  <%= @rating.communication %>
</p>

<p>
  <b>Expertise:</b>
  <%= @rating.expertise %>
</p>


<%= link_to 'Edit', edit_advisor_rating_path(@advisor, @rating) %> |
<%= link_to 'Back', advisor_ratings_path(@advisor) %>
