<p>
  <h3>
    <%= @advisor.name %>
       | <%= link_to "Edit profile", edit_advisor_path %>
  </h3>
</p>

<p>
  <% unless !@advisor.avatar? %>
  <%= image_tag @advisor.avatar.url(:medium) %>
  <% end %>
</p>

<%= render 'contact_form' %>

<% unless current_advisor %>
  <p>
    <%= link_to "Rate this advisor!", new_advisor_rating_path(@advisor), class: "btn btn-small btn-success" %>
  </p>
  <% end %>

<% if @advisor.ratings.blank? %>
<p>
  This advisor has not yet been rated.
</p>
<% else %>
<p>
  Trust: 
      <%= @advisor.ratings.average('trust').round(1) %>
</p>
<p>
  Communication: <%= @advisor.ratings.average('communication').round(1) %>
</p>
<p>
  Expertise: <%= @advisor.ratings.average('expertise').round(1) %>
</p>
<% end %>

<p>
Financial Expertise Votes: <span class="badge badge-success"><%= @advisor.reputation_for(:answering_skill).to_i %></span>
</p>

<p>
  <strong>Questions answered:</strong>
</p>
  <% if @advisor.answers.empty? %>
    <p>
      <%= link_to "Advisor has not answered any questions", questions_path %>
    </p>
  <% end %>

  <% @advisor.answers.each do |answer| %>
    <p>
    <%= link_to answer.question.title, answer.question %><span class="label"><%= answer.question.topic %></span>
    </p>
  <% end %>

<p>
  <b>Firm:</b>
  <%= @advisor.firm %>
</p>

<p>
  <b>Advisor type:</b>
  <%= @advisor.advisor_type %>
</p>

<p>
  <b>Address:</b>
  <%= @advisor.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @advisor.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @advisor.email %>
</p>

<p>
  <b>Website:</b>
  <%= @advisor.website %>
</p>

<p>
  <b>Sec status:</b>
  <%= @advisor.sec_status %>
</p>

<p>
  <b>Sec disclosures:</b>
  <%= @advisor.sec_disclosures %>
</p>

<p>
  <b>Finra status:</b>
  <%= @advisor.finra_status %>
</p>

<p>
  <b>Finra disclosures:</b>
  <%= @advisor.finra_disclosures %>
</p>
